
@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<!-- main wrapper start -->
<main>
    <!-- hero slider section start -->
    <section class="hero-slider">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slider-active slick-arrow-style slick-arrow-style_hero slick-dot-style">
                        <!-- single slider item start -->
                        @foreach (var slider in Model.Sliders)
                        {
                            <div class="hero-single-slide">
                                <div class="hero-slider-item bg-img" style="background-image: url(~/../assets/img/slider/@slider.Image)" @*data-bg="assets/img/slider/slider-1.jpg"*@>
                                    <div class="hero-slider-content slide-1">
                                        <h5 class="slide-subtitle">@slider.Sale</h5>
                                        <h2 class="slide-title">@slider.Title</h2>
                                        <p class="slide-desc">@slider.Description</p>
                                        <a href="shop.html" class="btn btn-hero">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- single slider item end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- hero slider section end -->
    <!-- service features start -->
    <section class="service-policy-area">
        <div class="container">
            <div class="row">
                <!-- single policy item start -->

                @foreach (var link in Model.Links)
                {
                     <div class="col-lg-4">
                        <div style="background-color: @link.Color" class="service-policy-item mt-30 bg-1">
                           <div class="policy-icon">
                            <img src="~/assets/img/icon/@link.Icon" alt="policy icon">
                            </div>
                        <div class="policy-content">
                            <h5 class="policy-title">@link.Title</h5>
                            <p class="policy-desc">@link.Description</p>
                        </div>
                        </div>
                     </div>
                 }

                    <!-- single policy item start -->
                   
                </div>
        </div>
    </section>
    <!-- service features end -->
    <!-- our product area start -->
    <section class="our-product section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">@Model.OurProducts.Title</h2>
                        <p class="sub-title">@Model.OurProducts.Description</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-carousel-4 mbn-50 slick-row-15 slick-arrow-style">
                        <!-- product single item start -->
                        @foreach (var product in Model.Products)
                        {
                            <div class="product-item mb-50">
                                <div class="product-thumb">
                                    <a asp-controller="ProductDetail" asp-action="Index">
                                       
                                            <img src="~/assets/img/product/@product.ProductImage.FirstOrDefault(m=>m.IsMain)?.Image" alt="">
                                        
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h5 class="product-name">
                                        <a asp-controller="ProductDetail" asp-action="Index">@product.Title</a>
                                    </h5>
                                    <div class="price-box">
                                       
                                        <span class="price-regular">$ @((product.Price-((product.Price*product.DiscountPrice)/100)).ToString("##.00"))</span>
                                        <span class="price-old"><del>$@product.Price.ToString("##.00")</del></span>
                                    </div>
                                 
                                    <div class="product-action-link">
                                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                        <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                                        <a href="#" data-toggle="modal" data-target="#quick_view">
                                            <span data-toggle="tooltip"
                                                  title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- product single item start -->  

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our product area end -->
    <!-- banner statistic area start -->
    <div class="banner-statistics">
        <div class="container">
            <div class="row no-gutters mtn-30">
                @foreach (var banner in Model.Banners)
                {
                <div class="col-md-6">

                    <div class="img-container mt-30">
                        <a asp-controller="ProductDetail" asp-action="Index">
                           
                            <img src="~/assets/img/banner/@banner.Image" alt="banner-image">
                        </a>
                        <div class="banner-text">
                            <h5 class="banner-subtitle">@banner.SubTitle</h5>
                            @Html.Raw(banner.Title)
                        </div>
                    </div>
                      </div>
                        }

                </div>
        </div>
    </div>
    <!-- banner statistic area end -->
    <!-- top seller area start -->
    <section class="top-seller-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">@Model.TopSeller.Title</h2>
                        <p class="sub-title">@Model.TopSeller.Description</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-5">
                    <div class="product-banner">
                        <a href="#">
                            <img src="~/assets/img/banner/@Model.ProductBanner.Image" alt="product banner">
                        </a>
                    </div>
                </div>
                
                <div class="col-xl-8 col-lg-7 col-md-7">
                    <div class="top-seller-carousel slick-row-15 mtn-30">
                        <!-- product item start -->

                        @foreach (var item in Model.Products)
                        {
                            <div class="slide-item">
                                <div class="pro-item-small mt-30">
                                    <div class="product-thumb">
                                        <a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id">
                                            <img src="~/assets/img/product/@item.ProductImage.FirstOrDefault(m=>m.IsMain)?.Image" alt="">
                                        </a>
                                    </div>
                                    <div class="pro-small-content">
                                        <h6 class="product-name">
                                            <a asp-controller="ProductDetail" asp-action="Index">@item.Title</a>
                                        </h6>
                                        <div class="price-box">
                                            <span class="price-regular">$@((item.Price-((item.Price*item.DiscountPrice)/100)).ToString("##.00"))</span>
                                            <span class="price-old"><del>$@item.Price.ToString("##.00")</del></span>
                                        </div>
                                        <div class="ratings">
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                            <span><i class="ion-android-star"></i></span>
                                        </div>
                                        <div class="product-link-2">
                                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                            <a href="#" data-toggle="tooltip" title="Add To Cart"><i class="ion-bag"></i></a>
                                            <a href="#" data-toggle="modal" data-target="#quick_view">
                                                <span data-toggle="tooltip"
                                                      title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- product item start -->
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top seller area end -->
    <!-- latest blog area start -->
    <section class="latest-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">@Model.OurBlog.Title</h2>
                        <p class="sub-title">@Model.OurBlog.Description</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="blog-carousel-active slick-row-15">
                        <!-- blog single item start -->
                        @foreach (var blog in Model.Blogs)
                        {
                            <div class="blog-post-item">
                                <div class="blog-thumb">
                                    <a asp-controller="BlogDetail" asp-action="Index">
                                        <img src="~/assets/img/blog/@blog.Image" alt="blog thumb">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h5 class="blog-title">
                                        <a asp-controller="BlogDetail" asp-action="Index">
                                            @blog.Title
                                        </a>
                                    </h5>
                                    <ul class="blog-meta">
                                        <li>@Html.Raw(blog.Admin)</li>
                                        <li><span>On:@blog.CreateDate.ToString("MM/dd/yyyy")</li>
                                    </ul>
                                    <a asp-controller="BlogDetail" asp-action="Index" class="read-more">Read More...</a>
                                </div>
                            </div>
                        }

                        <!-- blog single item start -->
                    
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- latest blog area end -->
    <!-- brand area start -->
    <div class="brand-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="brand-active-carousel">
                        @foreach (var brand in Model.Brands)
                        {
                             <div class="brand-item">

                                   <a href="#">
                                      <img src="~/assets/img/brand/@brand.Image" alt="brand image">
                                   </a>
                             </div>
                         }
                          
              
            
           </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand area end -->
</main>
<!-- main wrapper end -->

